.tableCustom{
    border: 1px solid #ebebeb;
}

.tableCustom thead{
    background-color: #ebebeb;
    text-align: center;
}

.imgCart{
    width: 150px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.table td, .table th{
    vertical-align: middle;
    text-align: center;
}

.quantity{
    width: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
}

.btn-delete{
    background-color: #ebebeb;
    color: #000;
    text-transform: uppercase;
    color: #383838;
    font-weight: bold;
    padding: 5px 10px;
}

.tableCustom tbody tr{
    border-bottom: 1px solid #ebebeb;
    background: white;
}

.tableCustom tfoot {
    background: white;
}

.tableCustom tfoot tr td{
    text-align: left;
}

.updateBtn{
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid black;
    padding: 8px 15px;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    transition:.5s;
}

.updateBtn:hover{
    background:none;
    color: black;
}

.btn-delAll{
    display: inline-block;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 15px;   
    transition:.5s;
}

.submitForm {
    background: #cccccc;
    color: black;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition:.5s;
    cursor: pointer;
border: none;
}

.submitForm:hover {
    color: white;
    background: black;

}

.btn-delAll:hover {
    background:black;
    color: white;
}

.totalPay{
    position: relative;
}

.totalPay b{
    position: absolute;
    right: 15px;
}

.form-group label{
    display: block;
}

.form-control{
    border-radius: 0;
}

.form-check-inline{
    line-height: 38px;
}
textarea.form-control{
    max-height: 121px;
}

@media(max-width: 991px){
    .tableCustom{
        width: 991px;
    }

    .table-responsive-custom{
        display: block;
        width: 100%;
        overflow: auto;
    }
}