

@media (min-width:1200px){

}

@media (max-width: 1600px){
    .wrap{
        padding: 10px;
    }
}

@media (max-width:1366px){
    .wrap{
        padding: 10px 10px;
    }
    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 22.666667%;
        max-width: 22.666667%;
    }
    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 77.333333%;
        max-width: 77.333333%;
    }
}

@media (max-width:1199px){

}
@media (max-width:991px){

}
@media (max-width:767px){

}

@media (max-width:479px){

}

@media (max-width:400px){

}

@media (max-width:360px){

}

@media (max-width:320px){

}