@charset "UTF-8";
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-image: url("../img/body-bg.png");
  background-attachment: fixed;
  background-size: cover;
  font-family: "SF Display";
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}

a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #055699;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transform: translateY(100px);
}
.go-top:hover {
  background: #055699;
}
.go-top:hover span:nth-child(1) {
  transform: rotate(-35deg);
  left: 7px;
  top: 18px;
}
.go-top:hover span:nth-child(2) {
  transform: rotate(35deg);
  left: 19px;
  top: 18px;
}
.go-top span {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 2px;
  background: white;
  transition: 0.2s;
}
.go-top span:nth-child(1) {
  left: 5px;
}
.go-top span:nth-child(2) {
  left: 20px;
}

button:focus {
  outline: none;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0.2rem rgba(5, 86, 153, 0.5);
}

article {
  padding-top: 70px;
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}
.overlay.overlay-in {
  display: block;
  cursor: url("../img/cursor.png"), auto;
}

.intro-home {
  background-image: url("../img/home-2.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  margin-left: -15px;
  width: 103%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.intro-home.intro0 {
  background-image: url("../img/home-2.jpeg");
}
.intro-home.intro1 {
  background-image: url("../img/dat-nen.png");
}
.intro-home.intro2 {
  background-image: url("../img/san-co.png");
}
.intro-home.intro3 {
  background-image: url("../img/home-4.jpeg");
}
.intro-home-box {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border-right: 1px solid #cccccc;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  height: 100vh;
}
.intro-home-box:hover {
  background: rgba(0, 0, 0, 0.5);
}
.intro-home-box:hover .intro-home-box-detail {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.intro-home-box img, .intro-home-box h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.intro-home-box h1 {
  width: 90%;
  text-align: center;
}
.intro-home-box img {
  padding: 30px;
}
.intro-home-box-detail {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 150%);
  text-align: center;
  width: 80%;
  transition: 0.5s;
  opacity: 0;
}
.intro-home-box-detail p {
  border: 2px solid white;
  padding: 10px 10px;
  width: 160px;
  margin: auto;
  margin-top: 30px;
  text-transform: uppercase;
  transition: 0.5s;
  position: relative;
}
.intro-home-box-detail p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.intro-home-box-detail p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #055699;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}
.intro-home-box-detail p:hover::after {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(1);
}
.intro-home-box-detail p:hover {
  color: white;
}
.intro-home-member {
  position: absolute;
  top: 15px;
  right: 0;
}
.intro-home-member a {
  padding: 15px 30px;
  background: #707070;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
}
.intro-home-member a:hover {
  background: #055699;
}
.intro-home-logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.menu {
  position: fixed;
  z-index: 999;
  background: #252525;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  height: 70px;
  width: 100%;
  right: 15px;
}
.menu .logo {
  height: 50px;
  margin: 10px 0;
}
.menu .main-menu {
  display: flex;
}
.menu .main-menu .toggleMenu {
  cursor: pointer;
  display: none;
  color: white !important;
  margin: 10px 0;
  z-index: 10000;
  transition: 500ms;
}
.menu .main-menu .toggleMenu i {
  font-size: 26px;
}
.menu .main-menu .nav {
  display: block;
  text-align: center;
}
.menu .main-menu .nav li {
  transition: 0.5s;
  display: inline-block;
}
.menu .main-menu .nav li i {
  color: white;
  padding-left: 5px;
  font-size: 20px;
  transition: 0.5s;
}
.menu .main-menu .nav li .active {
  background: #055699;
}
.menu .main-menu .nav li a {
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  padding: 25px 15px;
  line-height: 70px;
}
.menu .main-menu .nav li a:hover {
  background: #055699;
}
.menu .login-btn, .menu .login-complete-btn {
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-align: right;
  line-height: 70px;
  transition: 0.5s;
}

.menu .login-complete-btn {
	width: 110px;
    overflow: hidden;
    height: 50px;
	display: inline-block;
}

.menu .container {
	position: relative;
}

.noti {
	display: inline-block;
    transform: translateY(-5px);
	cursor: pointer;
}

.noti:hover i {
	color: #7fc5ff;
}
.noti:hover span {
	color: white;
}

.noti i {
    color: white;
    font-size: 24px;
	transition: .3s;
}

.noti span {
	background: #7fc5ff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: black;
    font-size: 11px;
    position: absolute;
    top: 0;
    text-align: center;
    right: -8px;
    line-height: 18px;
	transition: .3s;
}

.noti-tab {
	width: 300px;
	max-height: 60vh;
	overflow-y: scroll;
	background: #252525;
	color: white;
	position: absolute;
	top: 68px;
	right: 0; 
}

.box-noti {
	display: grid;
    grid-template-columns: 60px calc(100% - 70px);
	grid-gap: 10px;
}

.box-noti-user {
	text-align: center;
}


.box-noti-user img {
    width: 40px;
    position: relative;
    display: block;
    border-radius: 50%;
	margin: auto;
	margin-bottom: 5px;	
}

.box-noti-user h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.box-noti-detail h5 {
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
	margin-bottom: 5px;
	
}

.box-noti-detail h5 a {
	color: #7fc5ff;
}

.box-noti-detail h5 a:hover {
	filter: brightness(.7);
}

.box-noti-detail {
	padding: 5px 0;
}

.box-noti-detail p {
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
	color: #ccc;
	margin-bottom: 5px;
} 


.box-noti-user {
	padding: 5px;
}

.box-noti {
	padding: 10px;
	border-bottom: 1px solid #585858;
}

.noti-tab::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.noti-tab::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.noti-tab::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.noti-tab::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.menu .login-btn:hover, .menu .login-complete-btn:hover {
  color: #666;
}
.menu .login-btn i, .menu .login-complete-btn i {
  padding-right: 5px;
}
.menu .login-btn img, .menu .login-complete-btn img {
  border-radius: 50%;
  width: 30px;
  margin-right: 10px;
}

.bread-crumb {
  padding: 10px 0;
  color: white;
  margin-bottom: 30px;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "";
  font-family: fontAwesome;
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #7fc5ff;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #7fc5ff;
}

.footer {
  background: #252525;
  color: white;
  padding: 20px 0;
}
.footer ul li {
  display: inline-block;
  padding: 0 10px;
}
.footer ul li a {
  transition: 0.5s;
  color: #858585;
}
.footer ul li a:hover {
  color: white;
}

.login {
  position: relative;
}
.login .box-login {
  width: 500px;
  position: absolute;
  right: 0;
  background: white;
  border-radius: 5px;
  margin-top: 40px;
  padding: 0 30px;
  visibility: hidden;
  top: 20px;
  transition: 0.5s;
  opacity: 0;
  z-index: 1000;
}
.login .box-login.box-login-show {
  visibility: initial;
  top: 0;
  transition: 0;
  opacity: 1;
}
.login .box-login .nav-tabs {
  height: 60px;
  margin: -30px -10px 0 -10px;
  background: #055699;
  border-radius: 5px;
  padding: 10px;
  transform: none !important;
}
.login .box-login .nav-tabs li {
  width: 50%;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  color: white;
}
.login .box-login .nav-tabs li:hover a {
  background: #02467d;
}
.login .box-login .nav-tabs li a {
  border-radius: 5px;
  border: 0;
}
.login .box-login .nav-tabs li .active {
  border-radius: 5px;
  background: #02467d;
  color: white;
  border: 0;
}
.login .box-login .login-footer span {
  margin-right: 5px;
  color: #858585;
}
.login .box-login .login-footer a {
  color: #055699;
}
.login .box-login .login-footer a:hover {
  color: black;
}
.login .box-login .login-footer .login-close {
  background: #e1e1e1;
  border-radius: 5px;
  margin-top: -10px;
  padding: 10px 20px;
  margin-bottom: 15px;
}
.login .box-login .login-footer .login-close:hover {
  background: #055699;
}

.login-complete {
  position: relative;
  visibility: hidden;
  top: 10px;
  transition: 0.5s;
  opacity: 0;
  z-index: 1000;
}
.login-complete.box-login-show {
  visibility: initial;
  top: 0;
  transition: 0;
  opacity: 1;
}
.login-complete ul {
  position: absolute;
  top: -3px;
  right: 0;
  background: #252525;
  color: white;
  width: 250px;
}
.login-complete ul li {
  padding: 10px 15px;
  border-top: 1px solid #383838;
  text-transform: uppercase;
  transition: 0.5s;
}
.login-complete ul li:hover {
  background: #055699;
}
.login-complete ul li a {
  padding: 10px 15px;
  font-size: 12px;
}
.login-complete ul li i {
  padding-right: 10px;
}

.error.text-danger {
  right: 0 !important;
  top: 30px !important;
  transform: none !important;
  font-size: 12px !important;
}

.title-page {
  margin-bottom: 40px;
  color: white;
}
.title-page h1 a {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #055699;
  cursor: default;
}

.title-small {
  margin-bottom: 30px;
  color: white;
}
.title-small h3 {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #055699;
}

.page-content {
  margin-bottom: 40px;
  position: relative;
  color: black;
}
.page-content .news-main {
  margin-bottom: 10px;
}
.page-content .page-tour {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 260px calc(100% - 290px);
  grid-column-gap: 30px;
}
.page-content .tour-left-large {
  position: relative;
  width: 260px;
}
.page-content .tour-left {
  background: white;
  padding: 30px 20px;
  box-shadow: 0px 2px 1px #e1e1e1;
  margin-bottom: 30px;
  width: inherit;
  z-index: 10;
  transition: 0.5s;
  transform: translateY(0);
}
.page-content .tour-left.tour-left-down {
  position: fixed;
  top: 0;
  transform: translateY(100px);
}
.page-content .tour-left .tour-search form {
  position: relative;
}
.page-content .tour-left .tour-search input {
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  padding-left: 30px;
  height: 50px;
  border-radius: 5px;
}
.page-content .tour-left .tour-search input:focus {
  box-shadow: 0 0 0 2px rgba(5, 86, 153, 0.25);
}
.page-content .tour-left .tour-search i {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #858585;
  transition: 0.5s;
}
.page-content .tour-left .tour-search i:hover {
  color: #055699;
}
.page-content .tour-left .tour-search .nav-tabs {
  border-bottom: 0;
  margin-top: 20px;
}
.page-content .tour-left .tour-search .nav-tabs li {
  display: block;
  border: 0;
  background: #252525;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}
.page-content .tour-left .tour-search .nav-tabs li a {
  text-transform: uppercase;
  padding: 10px 0;
  border-radius: 5px;
  border: 0;
}
.page-content .tour-left .tour-search .nav-tabs li a:hover {
  background: #055699;
  border: 0;
}
.page-content .tour-left .tour-search .nav-tabs li .active {
  border: 0;
  background: #055699;
  color: white;
}
.page-content .tour-main h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
}
.page-content .news-detail {
  background: white;
  padding: 30px;
  box-shadow: 0px 2px 1px #e1e1e1;
  margin-bottom: 30px;
}
.page-content .news-detail h2 {
  font-weight: 600;
  margin-bottom: 10px;
}
.page-content .news-detail h5 {
  margin-bottom: 15px;
}
.page-content .news-detail h5 i {
  color: #055699;
  margin-right: 5px;
  font-size: 16px;
}
.page-content .news-detail h5 .user-post {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #e1e1e1;
}
.page-content .news-detail h4 {
  margin-bottom: 20px;
  font-weight: 600;
}
.page-content .news-detail img {
  margin-bottom: 20px;
}

.box-news {
  margin-bottom: 20px;
  padding: 30px;
  background: white;
  box-shadow: 0px 2px 1px #e1e1e1;
  color: black;
}
.box-news-img {
  overflow: hidden;
}
.box-news-img:hover img {
  transform: scale(1.2);
}
.box-news-img img {
  transition: 0.5s;
}
.box-news-detail h4 {
  margin-bottom: 10px;
}
.box-news-detail h4 a {
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: 0.5s;
}
.box-news-detail h4 a:hover {
  color: #055699;
}
.box-news-detail h6 {
  margin-bottom: 15px;
}
.box-news-detail h6 i {
  color: #055699;
  margin-right: 5px;
  font-size: 16px;
}
.box-news-detail h6 .user-post {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #e1e1e1;
}
.box-news-detail h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.box-tour {
  background: white;
  padding: 20px 0 10px 20px;
  box-shadow: 0px 2px 1px #e1e1e1;
  margin-bottom: 20px;
}
.box-tour-author {
  text-align: center;
  margin-right: -10px;
}
.box-tour-author img {
  border-radius: 50%;
}
.box-tour-author h6 {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #e1e1e1;
  color: #707070;
}
.box-tour-content h4 {
  margin-bottom: 10px;
}
.box-tour-content h4 a {
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.5s;
  color: black;
}
.box-tour-content h4 a:hover {
  color: #055699;
}
.box-tour-content h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #8D8D8D;
  margin-bottom: 30px;
}
.box-tour-info {
  border-left: 1px solid #e1e1e1;
  margin: -20px 0;
  padding: 10px 0;
  color: #666;
  margin-left: -10px;
}
.box-tour-info i {
  padding-right: 5px;
}
.box-tour-info-comment {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.box-tour-info-comment h5 {
  padding: 12px 0;
  margin: auto;
  width: 80px;
  border-radius: 5px;
  background: #e1e1e1;
  position: relative;
}
.box-tour-info-comment h5::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid #e1e1e1;
}
.box-tour-info-view {
  padding-bottom: 7px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.score-board td img {
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.score-board table.table-bordered.dataTable tbody tr {
  font-size: 1rem;
  transition: 0;
}
.score-board table.table-bordered.dataTable tbody tr.odd {
  background: white;
}
.score-board table.table-bordered.dataTable tbody tr.even {
  background: #f4f4f4;
}
.score-board table.table-bordered.dataTable tbody tr td {
  font-weight: 400;
  padding: 0.4rem;
}
.score-board table.table-bordered.dataTable tbody tr td a {
  transition: none;
}
.score-board table.table-bordered.dataTable tbody tr td a:hover {
  color: #055699;
  transition: 0;
}
.score-board table.table-bordered.dataTable tbody tr:hover {
  background: #e1e1e1;
}
.score-board table.table thead th {
  border-top: none;
  background: #e1e1e1;
  border-right: 1px solid #ccc;
  font-weight: 600;
  text-transform: uppercase;
}
.pagination .page-item .page-link {
  background: #e1e1e1;
  border: 1px solid #ccc;
}

.pagination .page-item .page-link.active {
	background: #055699;
	color: white;
	border-color: #055699;
}

.pagination .page-item .page-link:hover {
  background: #055699;
  color: white;
  border-color: #055699;
}
.pagination .page-item.active .page-link {
  background: #055699;
  box-shadow: none;
  border-color: #055699;
}
.score-board .page-link:focus {
  box-shadow: none;
}
.score-board div.dataTables_wrapper div.dataTables_filter input {
  background: #e1e1e1;
}

.page-text .title-page-text h2 {
  font-weight: 600;
  margin-bottom: 30px;
}
.page-text .navbar {
  margin-bottom: 20px;
}
.page-text .navbar i {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #858585;
}
.page-text .nav-tabs {
  border-bottom: 0;
}
.page-text .nav-tabs li {
  display: inline-block;
  margin-right: -2px;
  margin-bottom: 20px;
}
.page-text .nav-tabs li a {
  border-radius: 0;
  padding: 10px 20px;
  border: 0;
  background: white;
  color: black;
}
.page-text .nav-tabs li a:hover {
  color: white;
  background: #055699;
}
.page-text .nav-tabs li .active {
  background: #055699;
  color: white;
}
.page-text .box-post {
  background: white;
  padding: 0 30px;
  box-shadow: 0px 2px 1px #e1e1e1;
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  grid-column-gap: 20px;
  color: black;
}
.page-text .box-post-author {
  padding: 30px 0;
}
.page-text .box-post-author img {
  border-radius: 50%;
  display: block;
}
.page-text .box-post-author h5 {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
  color: #055699;
  font-weight: 600;
}
.page-text .box-post-detail {
  border-left: 1px solid #e1e1e1;
  margin-right: -10px;
}
.page-text .box-post-detail-date {
  padding: 10px 30px;
  border-bottom: 1px solid #e1e1e1;
}
.page-text .box-post-detail-content {
  padding: 30px;
}
.page-text .box-post-detail-content p {
  color: #797979;
}
.page-text .box-post-detail-tags {
  padding: 10px 30px;
  border-top: 1px solid #e1e1e1;
}
.page-text .box-post-detail-tags span {
  color: #055699;
}
.page-text .box-post-detail-tags span:hover {
  color: black;
}
.page-text #schedule table.table-bordered tbody tr, .page-text #result table.table-bordered tbody tr, .page-text #player table.table-bordered tbody tr, .page-text #save table.table-bordered tbody tr, .page-text #branchTour table.table-bordered tbody tr {
  background: white;
  font-size: 1rem;
  transition: 0;
}
.page-text #schedule table.table-bordered tbody tr td, .page-text #result table.table-bordered tbody tr td, .page-text #player table.table-bordered tbody tr td, .page-text #save table.table-bordered tbody tr td, .page-text #branchTour table.table-bordered tbody tr td {
  font-weight: 500;
  padding: 0.5rem;
}
.page-text #schedule table.table-bordered tbody tr td a, .page-text #result table.table-bordered tbody tr td a, .page-text #player table.table-bordered tbody tr td a, .page-text #save table.table-bordered tbody tr td a, .page-text #branchTour table.table-bordered tbody tr td a {
  transition: none;
}
.page-text #schedule table.table-bordered tbody tr td a:hover, .page-text #result table.table-bordered tbody tr td a:hover, .page-text #player table.table-bordered tbody tr td a:hover, .page-text #save table.table-bordered tbody tr td a:hover, .page-text #branchTour table.table-bordered tbody tr td a:hover {
  color: #055699;
  transition: 0;
}
.page-text #schedule table.table-bordered tbody tr:hover, .page-text #result table.table-bordered tbody tr:hover, .page-text #player table.table-bordered tbody tr:hover, .page-text #save table.table-bordered tbody tr:hover, .page-text #branchTour table.table-bordered tbody tr:hover {
  background: #f4f4f4;
}
.page-text #schedule table.table th, .page-text #result table.table th, .page-text #player table.table th, .page-text #save table.table th, .page-text #branchTour table.table th {
  border-top: none;
  background: #e1e1e1;
  border-right: 1px solid #ccc;
  font-weight: 600;
  text-transform: uppercase;
}
.page-text #branchTour h4 {
  margin-bottom: 30px;
}
.page-text #branchTour h4 a {
  transition: 0.5s;
}
.page-text #branchTour h4 a:hover {
  color: #055699;
}
.page-text .comment-first {
  background: white;
  padding: 0 30px;
  box-shadow: 0px 2px 1px #e1e1e1;
  margin-bottom: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 60px calc(100% - 80px);
  grid-column-gap: 20px;
}
.page-text .comment-first-img img {
  border-radius: 50%;
  padding: 10px 0;
  text-align: center;
}
.page-text .comment-first-box {
  border-left: 1px solid #e1e1e1;
  padding: 15px 30px;
  padding-right: 0;
}
.page-text .comment-first-box input {
  height: 40px;
  border-radius: 40px;
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
}
.page-text .comment-first-box input:focus {
  box-shadow: 0 0 0 0.2rem rgba(5, 86, 153, 0.25);
}
.page-text .box-comment {
  background: white;
  padding: 0 10px;
  box-shadow: 0px 2px 1px #e1e1e1;
  margin-bottom: 30px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 100px calc(100% - 100px);
  grid-column-gap: 10px;
  width: 100%;
}
.page-text .box-comment-author {
  padding: 20px 0;
}
.page-text .box-comment-author a {
  display: block;
}
.page-text .box-comment-author img {
  border-radius: 50%;
  transition: 0.5s;
}
.page-text .box-comment-author img:hover {
  filter: brightness(80%);
}
.page-text .box-comment-author h5 {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
  font-weight: 600;
  margin-bottom: 5px;
}
.page-text .box-comment-author h5 a {
  color: #055699;
  transition: 0.5s;
}
.page-text .box-comment-author h5 a:hover {
  color: black;
}
.page-text .box-comment-author p {
  margin-bottom: 5px;
}
.page-text .box-comment-detail {
  border-left: 1px solid #e1e1e1;
}
.page-text .box-comment-detail-date {
  padding: 10px 30px;
  border-bottom: 1px solid #e1e1e1;
}
.page-text .box-comment-detail-date h5, .page-text .box-comment-detail-date button {
  display: inline-block;
}
.page-text .box-comment-detail-date button {
  padding: 5px 10px;
  border-radius: 3px;
}
.page-text .box-comment-detail-content {
  padding: 30px;
}
.page-text .box-comment-detail-content p {
  color: #797979;
}
.page-text .box-comment-detail-content .comment-reply {
  margin-top: 20px;
}
.page-text .box-comment-detail-content .comment-reply button {
  padding: 10px 30px;
  border-radius: 30px;
}
.page-text .box-comment-detail-content .comment-reply .comment-reply-form {
  margin-top: 10px;
  display: none;
}
.page-text .box-comment-detail-content .comment-reply .comment-reply-form img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
}
.page-text .box-comment-detail-content .comment-reply .comment-reply-form input {
  height: 30px;
  border-radius: 30px;
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
}
.page-text .box-comment-detail-content .comment-reply .comment-reply-form input:focus {
  box-shadow: 0 0 0 0.2rem rgba(5, 86, 153, 0.25);
}
.page-text .sub-comment .box-sub-comment {
  background: #f4f4f4;
  box-shadow: 0px 2px 1px #e1e1e1;
  padding: 0 10px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 100px calc(100% - 200px) 100px;
  grid-column-gap: 10px;
  width: 100%;
}
.page-text .sub-comment .box-sub-comment-img {
  display: flex;
  margin-top: 10px;
}
.page-text .sub-comment .box-sub-comment-img img {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 5px;
}
.page-text .sub-comment .box-sub-comment-img h5 a {
  font-weight: 600;
  color: #055699;
}
.page-text .sub-comment .box-sub-comment-img h5 a:hover {
  color: black;
}
.page-text .sub-comment .box-sub-comment-content {
  border-left: 1px solid #e1e1e1;
  padding: 10px;
  padding-left: 20px;
  height: 100%;
}
.page-text .sub-comment .box-sub-comment-content p {
  margin: 0;
}
.page-text .sub-comment .box-sub-comment-content button {
  background: #cccccc;
  padding: 2px 5px;
  margin-top: 5px;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  border-radius: 3px;
  font-size: inherit;
  transition: 0.2s;
}
.page-text .sub-comment .box-sub-comment-content button:hover {
  background: #055699;
  color: white;
}
.page-text .sub-comment .box-sub-comment-date {
  padding: 10px 0;
  border-left: 1px solid #e1e1e1;
  height: 100%;
}
.page-text .sub-comment .box-sub-comment-date h5 {
  margin-bottom: 5px;
}

.range-score {
  color: white;
  margin-bottom: 5px;
  position: relative;
  float: right;
}
.range-score h5 {
  color: white;
}
.range-score input {
  margin-left: 10px;
  margin-bottom: 5px;
  height: 30px;
  background: #e1e1e1;
  border: 0;
  padding-left: 5px;
  border-radius: 3px;
  width: 85px;
}

.member-page .box-member-title {
  margin-bottom: 20px;
}
.member-page .box-member-title h3 {
  font-weight: bold;
}
.member-page .box-member {
  margin-bottom: 40px;
  padding: 30px;
  padding-bottom: 0;
  background: white;
  box-shadow: 0px 2px 1px #e1e1e1;
  color: black;
}
.member-page .box-member.chart {
  padding-bottom: 20px;
}
.member-page .box-member.chart .box-member-detail {
  margin: 0;
}
.member-page .box-member.chart .box-member-detail ul {
  padding: 0;
  border: 0;
  margin: 0;
}
.member-page .box-member .title-member {
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.member-page .box-member-img {
  margin-bottom: 20px;
}
.member-page .box-member-img img {
  margin-bottom: 20px;
}
.member-page .box-member-img h5 {
  margin-bottom: 10px;
  font-weight: 600;
}
.member-page .box-member-img h5 i {
  color: #7D7D7D;
  padding-right: 10px;
  font-size: 20px;
}
.member-page .box-member-detail {
  margin-bottom: 30px;
}
.member-page .box-member-detail h3 {
  font-weight: 600;
}
.member-page .box-member-detail p {
  color: #7D7D7D;
}
.member-page .box-member-detail ul {
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-top: 1px solid #e1e1e1;
}
.member-page .box-member-detail ul li {
  font-weight: 600;
}
.member-page .box-member-detail ul li label {
  width: 150px;
  color: #7D7D7D;
  font-weight: 400;
}
.member-page .box-member-detail h5 {
  margin-bottom: 10px;
}
.member-page .box-member-setting-img {
  position: relative;
  width: 100%;
  height: 30vh;
  background: #e1e1e1;
  margin-bottom: 20px;
}
.member-page .box-member-setting-img-update {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.member-page .box-member-setting-img-update .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.member-page .box-member-setting-img-update .inputfile + label {
  font-size: 14px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.5s;
}
.member-page .box-member-setting-img-update .inputfile:focus + label,
.member-page .box-member-setting-img-update .inputfile + label:hover {
  background-color: #055699;
  color: white;
}
.member-page .box-member-setting-img-update .inputfile + label {
  cursor: pointer;
}
.member-page .box-member-setting-about {
  margin-bottom: 20px;
}
.member-page .box-member-setting-about h4 {
  margin-bottom: 10px;
}
.member-page .box-member-setting-about textarea {
  height: 200px;
}
.member-page .box-member-setting-about textarea:focus {
  border: 0;
  box-shadow: 0 0 0 0.2rem rgba(5, 86, 153, 0.25);
}
.member-page .box-member-setting-form {
  margin-bottom: 30px;
}
.member-page .box-member-setting-form input {
  margin-bottom: 10px;
  height: 40px;
}
.member-page .box-member-setting-form input:focus {
  border: 0;
  box-shadow: 0 0 0 0.2rem rgba(5, 86, 153, 0.25);
}
.member-page .box-member-setting-form [type=date] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}
.member-page .box-member-setting-form [type=date]::-webkit-inner-spin-button {
  display: none;
}
.member-page .box-member-setting-form [type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.member-page .box-member-setting-form .gender-setting h5 {
  margin-bottom: 10px;
}
.member-page .box-member-setting-form .gender-setting label {
  display: inline-block !important;
  margin-right: 10px;
}
.member-page .box-member-setting-form .gender-setting .check-gender {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.member-page .box-member-setting-form .gender-setting .check-gender input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.member-page .box-member-setting-form .gender-setting .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}
.member-page .box-member-setting-form .gender-setting .check-gender:hover input ~ .checkmark {
  background-color: #ccc;
}
.member-page .box-member-setting-form .gender-setting .check-gender input:checked ~ .checkmark {
  background-color: #055699;
}
.member-page .box-member-setting-form .gender-setting .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.member-page .box-member-setting-form .gender-setting .check-gender input:checked ~ .checkmark:after {
  display: block;
}
.member-page .box-member-setting-form .gender-setting .check-gender .checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}
.member-page .box-member .form-submit {
  padding-bottom: 30px;
  text-align: right;
}
.member-page .box-member-tabs .nav-tabs {
  border-bottom: 0;
  margin-bottom: 20px;
}
.member-page .box-member-tabs .nav-tabs li a {
  border-radius: 0;
  padding: 10px 20px;
  border: 0;
  background: white;
  margin-right: 1px;
}
.member-page .box-member-tabs .nav-tabs li a:hover {
  color: white;
  background: #055699;
}
.member-page .box-member-tabs .nav-tabs li .active {
  background: #055699;
  color: white;
}
.member-page .box-member-tabs-content {
  margin-bottom: 30px;
}
.member-page .box-member-tabs-content table.table-bordered.dataTable tbody tr {
  background: white;
  font-size: 1rem;
  transition: 0;
}
.member-page .box-member-tabs-content table.table-bordered.dataTable tbody tr td {
  font-weight: 500;
}
.member-page .box-member-tabs-content table.table-bordered.dataTable tbody tr td a {
  transition: none;
}
.member-page .box-member-tabs-content table.table-bordered.dataTable tbody tr td a:hover {
  color: #055699;
  transition: 0;
}
.member-page .box-member-tabs-content table.table-bordered.dataTable tbody tr td button {
  background: 0;
  border: 0;
  width: 150px;
}
.member-page .box-member-tabs-content table.table-bordered.dataTable tbody tr td button .watch-branch-btn {
  background: #055699;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}
.member-page .box-member-tabs-content table.table-bordered.dataTable tbody tr td button .watch-branch-btn:hover {
  background: black;
  color: white;
  transition: 0.5s;
}
.member-page .box-member-tabs-content table.table-bordered.dataTable tbody tr:hover {
  background: #f4f4f4;
}
.member-page .box-member-tabs-content table.table thead th {
  border-top: none;
  background: #e1e1e1;
  border-right: 1px solid #ccc;
  font-weight: 600;
  text-transform: uppercase;
}
.member-page .box-member-tabs-content table tr td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.member-page .box-member-tabs-content .pagination .page-item .page-link {
  background: #e1e1e1;
  border: 1px solid #ccc;
}
.member-page .box-member-tabs-content .pagination .page-item .page-link:hover {
  background: #055699;
  color: white;
  border-color: #055699;
}
.member-page .box-member-tabs-content .pagination .page-item.active .page-link {
  background: #055699;
  box-shadow: none;
  border-color: #055699;
}
.member-page .box-member-tabs-content .page-link:focus {
  box-shadow: none;
}

div.jQBracket .bracket {
  float: none;
}

.watch-section {
  margin: 0 auto;
  padding: 15px;
}
.watch-section .watch-branch-title {
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
.watch-section .watch-branch-round {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 1140px !important;
  position: relative;
  margin: 30px auto;
}
.watch-section .watch-branch-round .box-watch-branch {
  height: 50px;
  width: 100%;
  background: #055699;
  color: white;
  text-align: center;
}
.watch-section .watch-branch-round .box-watch-branch h4 {
  line-height: 50px;
}
.watch-section .watch-branch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 1140px !important;
  position: relative;
  margin: auto;
}
.watch-section .watch-branch .box-watch-branch {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  margin: auto;
  padding: 3px 5px;
  position: relative;
}
.watch-section .watch-branch .box-watch-branch h6 {
  height: 17px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 90%;
}
.watch-section .watch-branch .box-watch-branch h5 {
  position: absolute;
  right: 5px;
  top: 3px;
  font-size: 12px;
  font-weight: bold;
}
.watch-section .watch-branch .box-watch-branch h5 span {
  display: block;
}
.watch-section .watch-branch .box-watch-branch:nth-child(2n+1)::before {
  content: "";
  width: 10px;
  border: 1px solid #e1e1e1;
  border-left: 0;
  position: absolute;
  right: -12px;
}
.watch-section .watch-branch .box-watch-branch:nth-child(2n+1)::after {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  right: -21px;
  background: #e1e1e1;
}
.watch-section .watch-branch .watch-branch-16 {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-row-gap: 10px;
}
.watch-section .watch-branch .watch-branch-16 .box-watch-branch:nth-child(2n+1)::before {
  height: 50px;
  top: 18px;
}
.watch-section .watch-branch .watch-branch-16 .box-watch-branch:nth-child(2n+1)::after {
  top: 43px;
}
.watch-section .watch-branch .watch-branch-8 {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 10px;
}
.watch-section .watch-branch .watch-branch-8 .box-watch-branch:nth-child(2n+1)::before {
  height: 100px;
  top: 18px;
}
.watch-section .watch-branch .watch-branch-8 .box-watch-branch:nth-child(2n+1)::after {
  top: 68px;
}
.watch-section .watch-branch .watch-branch-4 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
}
.watch-section .watch-branch .watch-branch-4 .box-watch-branch:nth-child(2n+1)::before {
  height: 200px;
  top: 18px;
}
.watch-section .watch-branch .watch-branch-4 .box-watch-branch:nth-child(2n+1)::after {
  top: 120px;
}
.watch-section .watch-branch .watch-branch-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
}
.watch-section .watch-branch .watch-branch-2 .box-watch-branch:nth-child(2n+1)::before {
  height: 400px;
  top: 18px;
}
.watch-section .watch-branch .watch-branch-2 .box-watch-branch:nth-child(2n+1)::after {
  top: 220px;
}
.watch-section .watch-branch .watch-branch-1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 10px;
}
.watch-section .watch-branch .watch-branch-1 .box-watch-branch:nth-child(2n+1)::before {
  content: none;
}
.watch-section .watch-branch .watch-branch-1 .box-watch-branch:nth-child(2n+1)::after {
  content: none;
}

.grid-box {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  grid-column-gap: 30px;
}

.table {
  color: black !important;
}

.left .box-left {
  margin-bottom: 20px;
  background: #383838;
  padding-bottom: 10px;
  
}
.left .box-left ul {
  padding: 15px;
  max-height: 300px;
  overflow-y: scroll;
}
.left .box-left ul::-webkit-scrollbar {
  width: 5px;
}
.left .box-left ul::-webkit-scrollbar-track {
  background: #666;
}
.left .box-left ul::-webkit-scrollbar-thumb {
  background: #888;
}
.left .box-left ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.left .box-left ul li {
  padding-bottom: 10px;
}
.left .box-left ul li a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: 0.5s;
  font-size: 13px;
  color: white;
}
.left .box-left ul li a i {
  margin-right: 10px;
}
.left .box-left ul li a:hover {
  color: #379ff5;
  padding-left: 2px;
}
.left .title-left {
  width: 100%;
  background: #055699;
  color: white;
  height: 40px;
}
.left .title-left h5 {
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

.score-board-main {
  position: relative;
}

.score-board-tabs .nav-tabs {
  border-bottom: 0;
  margin-bottom: 20px;
}
.score-board-tabs .nav-tabs li a {
  border-radius: 0;
  padding: 10px 20px;
  border: 0;
  background: white;
  margin-right: 1px;
  color: black;
}
.score-board-tabs .nav-tabs li a:hover {
  color: white;
  background: #055699;
}
.score-board-tabs .nav-tabs li .active {
  background: #055699;
  color: white;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label,
div.dataTables_wrapper div.dataTables_info {
  color: white;
}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
    font-size: calc(9px + 0.4vmax);
  }
}
@media (min-width: 992px) {
  .main-menu .nav {
    transform: none !important;
  }
}
@media (max-width: 992px) {
  article {
    padding-top: 65px;
  }

  .ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
  }

  .menu {
    height: 60px;
  }
  .menu .logo {
    height: 40px;
    margin-right: -50px;
  }
  .menu .main-menu .toggleMenu {
    display: block;
    position: absolute;
    right: 4px;
    top: -70px;
    margin: 15px 0;
    z-index: 10;
    color: white;
    border-radius: 3px;
    padding: 1px 8px;
  }
  .menu .main-menu .nav {
    display: block;
    text-align: left;
    background: rgba(0, 0, 0, 0.93);
    position: absolute;
    width: 300px;
    transform: translate(-300%, 0);
    margin-top: -2px;
    transition: 500ms;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    opacity: 0;
    z-index: 10000;
    padding-top: 30px;
    left: 0;
  }
  .menu .main-menu .nav.ssm-nav-visible {
    opacity: 1;
  }
  .menu .main-menu .nav li {
    display: block;
    padding: 20px 30px;
  }
  .menu .main-menu .nav li:first-child {
    margin-top: 30px;
  }
  .menu .main-menu .nav li:hover a {
    border-bottom: 0;
  }
  .menu .main-menu .nav li a {
    line-height: 1.5;
    padding: 0;
    padding-bottom: 5px;
  }
  .menu .main-menu .nav li .active {
    border-bottom: 1px solid #055699;
    background: none;
  }
  .menu-close {
    transform: scale(0) rotate(-180deg);
    position: absolute;
  }
  .menu .login-btn, .menu .login-complete-btn {
    line-height: 55px;
    margin-right: 40px;
  }

  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 10px;
    right: 10px;
    color: white;
    width: 100px;
    text-align: right;
  }

  .page-content .page-tour {
    grid-template-columns: auto;
  }
  .page-content .page-tour .tour-left-large {
    width: 100%;
  }
  .page-content .page-tour .tour-left.tour-left-down {
    left: 0;
    transform: translateY(60px);
    padding: 10px;
  }
  .page-content .page-tour .tour-left.tour-left-down .tour-search form {
    display: none;
  }
  .page-content .page-tour .tour-left.tour-left-down .tour-search .nav-tabs {
    margin-top: 0;
    text-align: center;
  }
  .page-content .page-tour .tour-left .tour-search .nav-tabs li {
    display: inline-block;
    width: auto;
    margin: 0 4px;
  }
  .page-content .page-tour .tour-left .tour-search .nav-tabs li a {
    padding: 10px;
    align-content: center;
    display: grid;
  }
  .page-content .page-tour .box-tour {
    padding: 20px;
  }
  .page-content .page-tour .box-tour-info {
    margin-right: -20px;
  }

  .page-text .box-post-author, .page-text .box-comment-author {
    padding: 10px 0;
  }

  .page-text .sub-comment .box-sub-comment-img {
    display: block;
    text-align: center;
  }
  .page-text .sub-comment .box-sub-comment-img img {
    margin-bottom: 5px;
  }

  .page-text .comment-first {
    padding: 0 15px;
  }
  .page-text .comment-first-img {
    margin-right: -10px;
  }

  .page-text .box-comment {
    grid-template-columns: 60px calc(100% - 60px);
  }

  .page-text .sub-comment .box-sub-comment {
    grid-template-columns: 50px calc(100% - 50px) 0;
    position: relative;
  }
  .page-text .sub-comment .box-sub-comment-img {
    margin-bottom: 30px;
  }
  .page-text .sub-comment .box-sub-comment-img a {
    display: block;
  }
  .page-text .sub-comment .box-sub-comment-date {
    position: absolute;
    left: 10px;
    bottom: -10px;
    height: auto;
    border: 0;
  }
  .page-text .sub-comment .box-sub-comment-date h5 {
    margin: 0;
  }

  .grid-box {
    grid-template-columns: auto;
  }
  .grid-box .left {
    display: none;
  }

  .page-text .nav-tabs li a {
    padding: 10px 13px;
  }
  
  .noti {
	transform: translateY(-10px);
  }
}
@media (max-width: 767px) {
  article {
    padding-top: 60px;
  }

  .intro-home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: auto;
    margin-right: -15px;
    padding-top: 60px;
  }
  .intro-home-box {
    height: auto;
    border-top: 1px solid #707070;
    background: rgba(0, 0, 0, 0.7);
  }
  .intro-home-box:hover img {
    opacity: 0;
  }
  .intro-home-box:hover h1 {
    top: 20%;
  }
  .intro-home-box-detail {
    top: 60%;
    width: 95%;
  }
  .intro-home-box-detail h4 {
    font-size: 10px;
  }
  .intro-home-box-detail p {
    margin-top: 10px;
    padding: 5px;
  }
  .intro-home-logo {
    height: 40px;
    left: 10px;
    top: 10px;
  }
  .intro-home-member {
    top: 20px;
    right: 10px;
  }
  .intro-home-member a {
    padding: 10px;
  }

  .box-news-img {
    margin-bottom: 15px;
  }

  .page-content .page-tour {
    grid-template-columns: auto;
  }
  .page-content .page-tour .tour-left .tour-search .nav-tabs li {
    width: calc(25% - 11px);
    height: 60px;
  }
  .page-content .page-tour .tour-left .tour-search .nav-tabs li a {
    font-size: 12px;
    height: 100%;
  }
  .page-content .page-tour .box-tour {
    padding: 0;
  }
  .page-content .page-tour .box-tour-content {
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
  }
  .page-content .page-tour .box-tour-author {
    margin: 0;
    padding-left: 30px;
  }
  .page-content .page-tour .box-tour-info {
    margin: -10px 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .page-text .comment-first {
    padding: 0 10px;
    grid-template-columns: 40px calc(100% - 60px);
  }

  .navbar.navbar-light {
    padding: 0;
    background: white;
  }
  .navbar.navbar-light i {
    position: absolute;
    right: 30px !important;
    top: 25px !important;
    width: 20px;
  }

  .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: black;
  }

  .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    color: white;
    background: #055699;
  }

  .navbar.navbar-light .navbar-toggler {
    background: #e1e1e1;
    color: black;
    width: 100%;
    height: 50px;
    position: relative;
  }
}
@media (max-width: 575px) {
  .login .box-login {
    width: 100%;
  }

  .page-content .page-tour .box-tour-author {
    padding-left: 15px;
    margin-right: -15px;
  }

  .page-content .tour-left .tour-search form {
    margin-bottom: 10px;
  }

  .page-text .comment-first {
    padding: 0 10px;
  }
  .page-text .comment-first input {
    height: 30px;
  }

  .page-text .box-post {
    padding: 0 10px;
    grid-template-columns: 30px calc(100% - 30px);
    grid-column-gap: 10px;
  }
  .page-text .box-post-detail {
    margin-right: 0;
  }
  .page-text .comment-first {
    grid-template-columns: 30px calc(100% - 30px);
    grid-column-gap: 10px;
  }
  .page-text .comment-first img {
    width: 30px;
  }
  .page-text .comment-first-box {
    padding: 10px;
  }
  .page-text .box-comment-detail-content,
.page-text .box-post-detail-content {
    padding: 15px;
  }
}
@media (max-width: 410px) {
  .box-tour {
    padding: 20px 0 20px 20px;
  }

  .box-news {
    padding: 20px;
  }

  .member-page .box-member {
    padding: 20px;
    padding-bottom: 0;
  }

  table td {
    font-size: 12px !important;
  }

  .page-text .box-comment-detail-date {
    padding: 10px;
  }

  .page-text .sub-comment .box-sub-comment {
    grid-template-columns: auto;
  }
  .page-text .sub-comment .box-sub-comment-img {
    text-align: left;
    margin-bottom: 5px;
    padding-bottom: 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .page-text .sub-comment .box-sub-comment-img a, .page-text .sub-comment .box-sub-comment-img h5 {
    display: inline-block;
  }
  .page-text .sub-comment .box-sub-comment-content {
    padding: 0;
    border: 0;
  }
  .page-text .sub-comment .box-sub-comment-date {
    text-align: left !important;
    margin-bottom: 10px;
    position: relative;
    padding-top: 0;
  }
  .page-text .sub-comment .box-sub-comment-date h5 {
    display: inline-block;
  }
}

.error {
    color: red;
	font-size: 13px;
}

.notification {
    z-index: 1000;
    background: #e2dede;
    position: relative;
    top: 100;
    top: 244px;
	display: none;
}

.notification .tab-content{
    height: 100px;
    text-align: center;
    color: #0007e6;
    margin-top: 29px;
    padding-top: 20px;
}

/*# sourceMappingURL=layout.css.map */
